<% layout('layout/main') -%>
<%- partial('ResourceHeader') %>

<style type="text/css">
	table.data tr td {
		max-width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
    .breadcrumb a.right {
        margin-left: 10px;
    }
</style>

<ul class="breadcrumb">
    <li><a href="/my/catalog">Catalog</a></li>
    <li><a href="/my/catalog/<%= resource.catalog.id %>"><%= resource.catalog.title %></a></li>
    <li class="active"><a href="/my/resource/<%= resource.id %>"><%= resource.fileName %></a></li>
    <a class="pull-right right" title="Upload Data" href="/my/resource/<%= resource.id %>/import"><span class="fa fa-download"></span></a>
    <a class="pull-right right" title="Custom selection" href="/my/resource/<%= resource.id %>/build"><span class="fa fa-cubes"></span></a>
</ul>

<div class="catalog-details">
    <div class="catalog-image">
    	<div class="catalog-image-container img-circle" style="background : url(/my/catalog/<%= resource.catalog.id %>/thumb);"></div>
    </div>
    <div class="catalog-info-block">
        <div class="catalog-heading">
            <h3><%= resource.catalog.title %></h3>
            <span class="help-block">
            	<%= resource.catalog.ddi.geogCover.substr(0, resource.catalog.ddi.geogCover.indexOf(',')) %>, 
            	<% 
            		var year = "";
            		if(resource.catalog.ddi.collectionDate.length > 0) {
            			year = resource.catalog.ddi.collectionDate[0].date;
            		} else {
            			year = resource.catalog.ddi.collectionDate;
            		}
            	%>
            	<%= year.substr(0, year.indexOf('-')) %>
            </span>
        </div>
        <div class="catalog-body" style="overflow-x: scroll;">
    	<% 
    		if(resource.result.length == 0) { 
    	%>
    		Data tidak tersedia
    	<% 
    		} else { 
    	%>
    		<table class="table table-striped custab data">
			    <thead>
			        <tr>
			        <%	for(var c=0; c<resource.result.columns.length; c++) { %>
			            <th><%= resource.result.columns[c] %></th>
			        <%  }	%>
			        </tr>
			    </thead>
			    <%	for(var r=0; r<resource.result.table.length; r++) { %>
		            <tr>
		            <%	for(var c=0; c<resource.result.columns.length; c++) { %>
			            <td title="<%= resource.result.table[r][resource.result.columns[c]] %>">
			            	<%= resource.result.table[r][resource.result.columns[c]] %>
			            </td>
			        <%  }	%>
		            </tr>
		        <%  }	%>
			</table>

    	<% } %>
	    </div>
	</div
</div>